<!DOCTYPE html>
<html>
  <head>
    <title>Backend API Page</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .container {
        text-align: center;
      }

      h1 {
        color: #4285f4;
      }

      p {
        margin-top: 20px;
        font-size: 18px;
      }

      a {
        color: #4285f4;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Backend API is up and running!</h1>
      <p>
        This is a backend API of an application
        <a href="https://github.com/Sahilll15/Notes-frontend" target="_blank"
          >Notes_Beta</a
        >
      </p>
    </div>
  </body>
</html>
